
.form-container {
  background-color: #000000;
  color: rgb(247, 242, 242);
  padding: 1.5rem;
  border-radius: 0.75rem;
  width: 24rem;
  margin: 2.5rem auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  text-decoration-color: #ff4d4f;
}

.form-label {
  display: block;
  margin-bottom: 0.25rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  background-color: #393737;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.form-input::placeholder {
  color: #bbb;
}

.submit-btn {
  width: 100%;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #f3f3f3;
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error-message {
  color: #ff4d4f;
  margin-bottom: 1rem;
  font-weight: bold;
}
h2{
  color: #faf7f7;
}