.category-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.category-button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.category-button:hover::before,
.category-button:focus::before {
  opacity: 1;
}

.category-button:hover {
  color: #ffd700;
  text-shadow: 0 0 10px #ffd700;
}

.category-icon {
  height: 80px;
  width: 80px;
  transition: transform 0.3s ease;
}

.category-button:hover .category-icon,
.category-button:active .category-icon {
  transform: scale(1.1);
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); /* תומך ברספונסיביות! */
  gap: 80px;
  justify-content: center;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}


@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
